@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div>
            <p>Personal project to improve knowledge and use as part of the portfolio</p>
        </div>
        <div></div>
        <div></div>
        <a href="https://github.com/gvpodev/WebSales"><img src="~/lib/imgs/git.png" width="60" height="60" /></a>
        <a href="https://www.linkedin.com/in/gabriel-vasconcellos-461400a9/"><img src="~/lib/imgs/lnk.png" width="50" height="50" /></a>
    </div>
